{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/style3.css' %}">
  <link rel="icon" href="{% static '/image/logo-3.png' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/4c729db828.js" crossorigin="anonymous"></script>
  <title>Trekking Tales</title>
  <style>
    .img-1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("{% static 'image/heading-img1.jpg' %}");
    }

    .img-2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("{% static 'image/heading-img2.png' %}");
    }

    .img-3 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("{% static 'image/heading-img3.jpg' %}");
    }

    .img-4 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("{% static 'image/heading-img4.jpg' %}");
    }

    body {
      background-color: #C7C8CC !important;
      height: 200vh;
    }

    .btn-home {
      display: inline;
      padding: 18px 38px;
      background-color: rgb(240, 47, 36);
      /* example color and i will change the above color*/
      text-decoration: none;
      color: white;
      /* example color and i will change the above color*/
      font-size: 16px;
      font-weight: 400px;
      margin: 28px 0px 0px 0px;
      transition: 0.3s ease-in;

    }

    .book {
      background: #BED7DC;
      /* example color and i will change the above color*/
      padding: 50px;
    }

    .heading-about {
      color: #f6ecec;
      background-color: rgb(4, 4, 4);
      /* example color and i will change the above color*/
      display: block;
      font-size: 38px;
      font-weight: 700;
      line-height: 50px;
      text-transform: uppercase;
      text-align: center;
      padding: 20px 0px;
      position: relative;
    }

    .heading-about::before {
      content: '';
      position: absolute;
      top: 44px;
      left: 134px;
      width: 80px;
      background-color: #B80000;
      /* example color and i will change the above color*/
      height: 3px;
      width: 149px;

    }

    .heading-about::after {
      content: '';
      position: absolute;
      top: 44px;
      right: 134px;
      width: 80px;
      background-color: #B80000;
      /* example color and i will change the above color*/
      height: 3px;
      width: 149px;
    }

    .heading_sm {
      text-transform: uppercase;
      color: #eb2020ee !important;
      /* example color and i will change the above color*/
      letter-spacing: 3px;
      font-size: 21px;
    }

    .btn-service {
      display: inline-block;
      padding: 10px 26px;
      background-color: rgb(209, 95, 2);
      text-decoration: none;
      color: white;
      font-weight: 500;
      border-radius: 30px;
      margin: 10px 0px;
      transition: 0.2s ease;

    }

    .content-services:hover {
      transform: translateY(-3px);
      box-shadow: 2px 2px 14px rgba(8, 98, 216, 0.771);
    }

    .content-services:hover .btn-service {
      background-color: rgb(5, 97, 189);
      /* example color and i will change the above color*/
      color: white;
    }

    .content-packages:hover {
      transform: translateY(-4px);
      box-shadow: 2px 2px 14px rgba(216, 8, 8, 0.814);
    }
  </style>

</head>

<body>
  {% block content %}
  <div class="header">
    <div class="nav_bar-top">
      <div class="container-fluid">
        <div class="text-container">
          <div class="navbar-container">
            <nav class="navbar navbar-expand-lg ">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  <h2 class="heading-logo"><SPan>T</SPan>T</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                      <a class="nav-link " aria-current="page" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#book">Book with <span>T</span>T</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#about">About</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#package">Packages</a>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="#">Cart</a>
                    </li> -->
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login/">Login</a>
                    <li class="nav-item">
                      <a class="nav-link" href="#Contact">Contact Us</a>
                    </li>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>


    <div class="home-section" id="home">
      <div class="container-fluid gx-0">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">


              <div class="home-content img-1">
                <div class="content-home">
                  <h3 class="heading-home">LET WE TAKE YO YOUR</h3>
                  <h2 class="heading-lg-home">DREAM PLACE🌍</h2>
                  <a href="#package" class="btn-home">Explore More</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">


              <div class="home-content img-2">
                <div class="content-home">
                  <h3 class="heading-home">TOURS & TREKKING</h3>
                  <h2 class="heading-lg-home">Let's Discover the hidden places Together </h2>
                  <a href="#package" class="btn-home">Explore More</a>
                </div>
              </div>

            </div>

            <div class="carousel-item">


              <div class="home-content img-3">
                <div class="content-home">
                  <h3 class="heading-home">TOURS & TREKKING</h3>
                  <h2 class="heading-lg-home">Let's Discover the hidden places Together </h2>
                  <a href="#package" class="btn-home">Explore More</a>
                </div>
              </div>

            </div>
            <div class="carousel-item">


              <div class="home-content img-4">
                <div class="content-home">
                  <h3 class="heading-home">TOURS & TREKKING</h3>
                  <h2 class="heading-lg-home">Let's Discover the hidden places Together </h2>
                  <a href="#package" class="btn-home">Explore More</a>
                </div>
              </div>

            </div>


          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span><i class="fa-solid icon-scroll fa-angles-left"></i></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span><i class="fa-solid icon-scroll fa-angles-right"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--Header part over-->

  <!--section booking start here-->
  <section class="book" id="book">
    <div class="container">
      <div class="main-text">
        <h1><span>B</span>ook</h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <img src="{% static 'image/travel.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-md-6">
          <form method="POST" action="{% url 'book' %}">
            {% csrf_token %}
            <div class="mb-3">
              <input type="text" class="form-control" name="destination" placeholder="Where to go" required>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name="duration" placeholder="How Many days" required>
            </div>
            <div class="mb-3">
              <input type="date" class="form-control" name="arrival-date" placeholder="Arrival" required>
            </div>
            <div class="mb-3">
              <input type="date" class="form-control" name="leaving-date" placeholder="Leaving" required>
            </div>
            <div class="mb-3">
              <textarea class="form-control" rows="5" name="details" placeholder="Enter Your Name & phone_number"
                required></textarea>
            </div>
            <div class="text-center">
              <button class="btn btn-primary btn-lg" type="submit">Book</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>




  <!--section booking end here-->

  <!--about page start-->

  <section class="about" id="about">
    <div class="container">
      <h2 class="heading-about">ABOUT OUR <span>T</span>T TRAVELS</h2>
      <p class="para-about-details">Unleashing Uncharted Adventures for the Bold Wanderer. Trekking Tales is not just a
        tour; it's a movement. <br> Connect with us, share your untold tales, and let your journey become a chapter in
        the ever-evolving story of Trekking Tales.</p>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="img-about">
            <img src="{% static 'image/About-img2.jpg' %}" class="img-fluid image-content" alt="">

          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="content-about">
            <h4 class="heading-content">About Us</h4>
            <p class="para-content-about">Welcome to Trekking Tales, where the ordinary transforms into the
              extraordinary. We invite you to defy the expected, embrace the unknown, and embark on a trekking
              experience that transcends the conventional. Get ready to unveil the secrets of untouched landscapes,
              where every trail narrates a story waiting to be discovered. Join the league of trailblazers who choose to
              venture beyond the conventional. Trekking Tales is not just a tour; it's a movement. Connect with us,
              share your untold tales, and let your journey become a chapter in the ever-evolving story of Trekking
              Tales. Are you ready to redefine your adventure? Unleash the extraordinary with Trekking Tales, where
              unique is an understatement.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="img-about">
            <img src="{% static 'image/About-img1.jpeg' %}" class="img-fluid image-content" alt="">

          </div>
        </div>
      </div>
    </div>
  </section>


  <!--about page end-->


  <!--services start-->
  <section class="services" id="services">
    <h4 class="heading_sm">Services</h4>
    <h2 class="heading_lg"><span>T</span>ours & Travel Services</h2>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 my-2">
          <div class="content-services">
            <div class="img-container">
              <img src="{% static 'image/countries_pic-removebg-preview.png' %}" class="img-service" alt="" width="100%"
                height="160px">

            </div>
            <h3 class="heading-tour">Different Countries</h3>
            <p class="para-tour">Traveling is not just a journey to different countries; the beauty of diverse cultures,
              taste the richness of traditions, and collect memories that last a lifetime.</p>
            <a href="#" class="btn-service">Read More</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 my-2">
          <div class="content-services">
            <div class="img-container">
              <img src="{% static 'image/Mountain_sample1-removebg-preview.png' %}" class="img-service" alt=""
                width="100%" height="160px">

            </div>
            <h3 class="heading-tour"><span>T</span>rekking Spot</h3>
            <p class="para-tour">Trekking knows no boundaries; it is a language spoken by the mountains, the forests,
              and the open trails. Across countries, the earth invites us to wander and wonder.</p>
            <a href="#" class="btn-service">Read More</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 my-2">
          <div class="content-services">
            <div class="img-container">
              <img src="{% static 'image/travel guide sample2.jpg' %}" class="img-service" alt="" width="100%"
                height="160px">

            </div>
            <h3 class="heading-tour"><span>T</span>ravel Guide</h3>
            <p class="para-tour">Embark on your journey with a travel guide, your compass to hidden wonders, cultural
              treasures, and the untold stories of each destination.</p>
            <a href="/travelguide/" class="btn-service">Read More</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 my-2">
          <div class="content-services">
            <div class="img-container">
              <img src="{% static 'image/Hotelbook-removebg-preview.png' %}" class="img-service" alt="" width="100%"
                height="160px">

            </div>
            <h3 class="heading-tour">Hotel Booking</h3>
            <p class="para-tour">Book a room, unlock a world of comfort. It's an invitation to indulge in luxury, create
              cherished memories, experience a hotel into a home away from home.</p>
            <a href="#" class="btn-service">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--services end-->

  <!--packages start-->
  <section class="packages" id="package">
    <h4 class="heading_sm">packages</h4>
    <h2 class="heading_lg"><span>T</span>ours & Tarvel packages</h2>

    <div class="container-packages">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 my-2">
            <div class="content-packages">

              <div class="img-package">

                <img src="{% static 'image/kashmir.jpg' %}" class="image-package" alt="">



              </div>


              <div class="content-package-container">

                <div class="details-package">
                  <p class="detail-text"><span class="icon-detail"><i
                        class="fa-solid fa-location-dot"></i></span>Kashmir
                  </p>
                  <p class="detail-text"><span class="icon-detail"><i class="fa-solid fa-calendar-days"></i></span>7
                    Days & 6 Night</p>
                  <p class="detail-text"><span class="icon-detail"><i class="fa-solid fa-users"></i></span>6 persons</p>
                </div>

                <h4 class="heading-content-package">"Journey to Kashmir, where snow-capped mountains, and serene lakes
                  await. An unforgettable experience with our curated tour package."</h4>

                <hr>
                <div class="rating">
                  <p class="rate"><span class="starns"><i class="fa-regular fa-star"></i></span>4.9/5</p>
                  <h4 class="price"><i class="fa-solid fa-indian-rupee-sign"></i> 8,500 per person</h4>

                  <!-- <button class="btn btn-primary"><i class="fa-solid fa-shopping-cart"></i></button> -->

                </div>



              </div>


            </div>

          </div>


          <div class="col-lg-4 col-md-6 my-2">
            <div class="content-packages">

              <div class="img-package">
                <img src="{% static 'image/kodaikanal.jpg' %}" class="image-package" alt="">
              </div>

              <div class="content-package-container">

                <div class="details-package">
                  <p class="detail-text"><span class="icon-detail"><i
                        class="fa-solid fa-location-dot"></i></span>kodaikanal
                  </p>
                  <p class="detail-text"><span class="icon-detail"><i class="fa-solid fa-calendar-days"></i></span>4
                    Days & 3 Night</p>
                  <p class="detail-text"><span class="icon-detail"><i class="fa-solid fa-users"></i></span>4 person</p>
                </div>

                <h4 class="heading-content-package">"Explore the charm of Kodaikanal, where mist-kissed hills and serene
                  lakes create a haven for nature lovers and soul seekers alike."</h4>

                <hr>
                <div class="rating">
                  <p class="rate"><span class="starns"><i class="fa-regular fa-star"></i></span>4.5/5</p>
                  <h4 class="price"><i class="fa-solid fa-indian-rupee-sign"></i> 4500 per person</h4>

                  <!-- <button class="btn btn-primary"><i class="fa-solid fa-shopping-cart"></i></button> -->
                </div>



              </div>


            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-2">
            <div class="content-packages">

              <div class="img-package">
                <img src="{% static 'image/kashmir.jpg' %}" class="image-package" alt="">

              </div>

              <div class="content-package-container">

                <div class="details-package">
                  <p class="detail-text"><span class="icon-detail"><i class="fa-solid fa-location-dot"></i></span>Boat
                    House
                  </p>
                  <p class="detail-text"><span class="icon-detail"><i class="fa-solid fa-calendar-days"></i></span>2
                    Days & 1 Night</p>
                  <p class="detail-text"><span class="icon-detail"><i class="fa-solid fa-users"></i></span>6 persons</p>
                </div>

                <h4 class="heading-content-package">"Float into tranquility with a boat house experience, where serenity
                  meets the gentle ripples of adventure."</h4>

                <hr>
                <div class="rating">
                  <p class="rate"><span class="starns"><i class="fa-regular fa-star"></i></span>4.2/5</p>
                  <h4 class="price"><i class="fa-solid fa-indian-rupee-sign"></i> 2500 per person</h4>

                  <!-- <button class="btn btn-primary"><i class="fa-solid fa-shopping-cart"></i></button> -->
                </div>



              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
    <a href="#" class="btn-home" id="book">Explore More</a>

  </section><!--packages end-->

  <!--footer start-->

  <footer>
    <div class="footer-container" id="Contact">
      <div class="contanier">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">

            <img src="{% static 'image/logo-1.png' %}" class="footer-logo" alt="Logo" width="150" height="150">
            <p class="footer-para">"Elevate your adventure with our Trekking Tales – Where Every Step Unfolds a New
              Story!"</p>

            <h5 class="heading-sm-footer">FOLLOW US</h5>

            <div class="social-links-footer">
              <i class="fa-brands icon-social-footer fa-instagram"></i>
              <i class="fa-brands icon-social-footer fa-youtube"></i>
              <i class="fa-brands icon-social-footer fa-whatsapp"></i>
              <i class="fa-brands icon-social-footer fa-linkedin"></i>
              <i class="fa-brands icon-social-footer fa-snapchat"></i>
            </div>



          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="pages-footers">
              <h3 class="heading-pages">Pages links</h3>
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link footer-links  " aria-current="page" href="#home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link footer-links " href="#book">Book with <span>T</span>T</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link footer-links " href="#about">About</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link footer-links " href="#services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link footer-links " href="#package">Packages</a>
                <li class="nav-item">
                  <a class="nav-link footer-links " href="#">Cart</a>
                </li>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle footer-links " href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    FAQ
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#about">About Us</a></li>
                    <li><a class="dropdown-item" href="#">Company</a></li>
                    <li><a class="dropdown-item" href="#services">Experience</a></li>
                  </ul>
                <li class="nav-item ">
                  <a class="nav-link footer-links" href="#Contact">Contact Us</a>
                </li>
                </li>
              </ul>
            </div>



          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">

            <h3 class="heading-pages">Contact Us</h3>

            <p class="contact-footer">
              <span class="text-contact"><i class="fa-solid footer-icons fa-location-dot"></i>12th main Road
                Villivakkam, Chennai</span>
              <span class="text-contact"><i
                  class="fa-solid footer-icons fa-envelope"></i>williamtravel14@gmail.com</span>
              <span class="text-contact"><i class="fa-solid footer-icons fa-phone"></i>+91-6383397840</span>
            </p>


          </div>

        </div>
      </div>
    </div>
    <div class="container-fluid gx-0">
      <div class="footer-rights">
        <p class="right-para"><i class="fa-solid footer-icons fa-copyright"></i>Copyright Trekking Tales. All Rights
          Reserved.</p>
      </div>

    </div>
  </footer>
  {% endblock %}

  <!--footer end-->








  <script src="{% static 'js/main2.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
</body>

</html>