{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/travelguide.css' %}">
    <link rel="icon" href="{% static '/image/logo-3.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4c729db828.js" crossorigin="anonymous"></script>
    

    <title>Travel Guide</title>
    <style>
      .home {
          width: 100%;
          height: 90vh;
          background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url('{% static "image/packages_background_img2.jpg" %}');
          background-repeat: no-repeat;
          background-size: cover;
      }
  </style>
</head>
<body>
    <div class="sticky-header">
        <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <h2 class="heading-logo"><span>T</span>T</h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="/home/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#book">Book with <span>T</span>T</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/home/">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/home/">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/packages/">Packages</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Cart</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    FAQ
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#about">About Us</a></li>
                    <li><a class="dropdown-item" href="#">Company</a></li>
                    <li><a class="dropdown-item" href="#services">Experience</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="home">
        <div class="content">
          <h5>Welocme to Travel Guide page</h5><br>
          <h1 class="content_visit">Visited  <span class="changecontent"></span></h1><br>
          <p class="para-home-content">"Navigate your journey with the wisdom of a travel guide, where every step leads to unforgettable discoveries."</p>
          <a href="#about">Guides</a>
        </div>
      </div>

      <section class="about" id="about">
        <div class="container">
            <h2 class="heading-about">ABOUT OUR <span>T</span>T Guides</h2>
            <p class="para-about-details">"Let the pages of our travel guide unfold your next adventure, revealing hidden gems and unforgettable experiences along the way. </p>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="img-about">
                      <img src="{% static 'image/Sam-1.jpg' %}" class="img-fluid image-content" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="content-about">
                        <h4 class="heading-content">About Sam</h4>
                        <p class="para-content-about">"Meet Sam, the seasoned traveler and your trusted guide to the world's wonders. With a passion for exploration and a wealth of knowledge, Sam unveils the hidden treasures of every destination, crafting unforgettable journeys filled with adventure, culture, and discovery. Whether wandering through ancient ruins or savoring local delicacies, Sam's expertise and enthusiasm transform each trip into a remarkable experience, leaving travelers inspired and eager for more."</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="img-about">
                      <img src="{% static 'image/Sam-2.jpg' %}" class="img-fluid image-content" alt="">
                    </div>
                </div>
            </div>
    </section>

    <!--footer start-->

  <footer>
    <div class="footer-container">
      <div class="contanier">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">

            <img src="image/logo-1.png" class="footer-logo" alt="..." width="150px" height="150px">
            <p class="footer-para">"Elevate your adventure with our Trekking Tales – Where Every Step Unfolds a New Story!"</p>

            <h5 class="heading-sm-footer">FOLLOW US</h5>

            <div class="social-links-footer">
              <i class="fa-brands icon-social-footer fa-instagram"></i>
              <i class="fa-brands icon-social-footer fa-youtube"></i>
              <i class="fa-brands icon-social-footer fa-whatsapp"></i>
              <i class="fa-brands icon-social-footer fa-linkedin"></i>
              <i class="fa-brands icon-social-footer fa-snapchat"></i>
            </div>



          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="pages-footers">
              <h3 class="heading-pages">Pages links</h3>
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link footer-links  " aria-current="page" href="#home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link footer-links " href="#book">Book with <span>T</span>T</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link footer-links " href="#about">About</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link footer-links " href="#services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link footer-links " href="#package">Packages</a>
                <li class="nav-item">
                  <a class="nav-link footer-links " href="#">Cart</a>
                </li>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle footer-links " href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    FAQ
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#about">About Us</a></li>
                    <li><a class="dropdown-item" href="#">Company</a></li>
                    <li><a class="dropdown-item" href="#services">Experience</a></li>
                  </ul>
                <li class="nav-item ">
                  <a class="nav-link footer-links" href="#">Contact Us</a>
                </li>
                </li>
              </ul>
            </div>



          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">

            <h3 class="heading-pages">Contact Us</h3>

            <p class="contact-footer">
              <span class="text-contact"><i class="fa-solid footer-icons fa-location-dot"></i>12th main Road Villivakkam, Chennai</span>
              <span class="text-contact"><i class="fa-solid footer-icons fa-envelope"></i>williamtravel14@gmail.com</span>
              <span class="text-contact"><i class="fa-solid footer-icons fa-phone"></i>+91-6383397840</span>
            </p>


          </div>

        </div>
      </div>
    </div>
    <div class="container-fluid gx-0">
      <div class="footer-rights">
        <p class="right-para"><i class="fa-solid footer-icons fa-copyright"></i>Copyright Trekking Tales. All Rights Reserved.</p>
      </div>

    </div>
  </footer>

  <!--footer end-->



    
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>



</body>
</html>